<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Home</title>
    </head>
    <body>
        <a href="/register">S'inscrire</a>
        <a href="/login">Se connecter</a>
        <br>
        <h2><a href="/user/info">Mon profil</a></h2>
        <h2><a href="/user/all-user">Liste de marsupilamis</a></h2>
    </body>
</html>
