<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/mystyle.css') }}">

        <title>Home</title>
    </head>
    <body>
      <h1 style="margin-bottom:20px;">Bienvenu sur le carnet d'addresse <br> pour marsupilamis</h1>
      <hr>
      <div class="contenuHome" style="margin-left: auto;margin-right: auto;width: 50%;margin-top:50px;">
        <p style:"text-align:center;margin-top:10px">
          <a style="border:1px solid black;margin:20px;border-radius:20px;padding:30px;" href="/register">S'inscrire</a>
          <a style="border:1px solid black;margin:20px;border-radius:20px;padding:30px;" href="/login">Se connecter</a>
        </p>
          <br>
          <h2 style="border:1px solid black;margin:20px;border-radius:20px;text-align:center;padding:30px;"><a href="/user/info">Mon profil</a></h2>
          <h2 style="border:1px solid black;margin:20px;border-radius:20px;text-align:center;padding:30px;"><a href="/user/all-user">Liste de marsupilamis</a></h2>
      </div>

    </body>
</html>
